
<div class="top-page">  
  <%=render "shared/edit_header" %>
</div>

<div class="all__main">
    <div class="message__wrapper" >
      
        <div class="message__header">
            <h1 class="header__title">ユーザーを選択してください<h1>
        </div>

        <div class="message__main">
 
        </div>

        <div class="message__users">

        </div>

          <div class="message__footer">

              <div class="message__form">  

              </div>

          </div>

    </div>
</div>




