.header__bottom {
  border-bottom: solid black 2px;

}

.dm__main {
  height: 100vh;
  background-color: white;
}

.col-2 {
  border-right: solid black 2px;
}

.dm__link {
  text-decoration: none;
  color: black
}